*{
	margin: 0;
	padding: 0;
}
img{
	display: block;
}
li{
	list-style: none;
	a{text-decoration: none;}
}
.head{
	width:100%;
	height: 120px;
	background: url(../images/header.jpg)no-repeat center center;
}
.nav{
	width: 100%;
	height: 30px;
	background: url(../images/bg.jpg) no-repeat center center;
	ul{
		width: 950px;
		height: 30px;
		margin: 0 auto;
		overflow: hidden;
		li{
			width: 200px;
			float: left;
			height: 30px;			
			text-align: center;
			line-height: 30px;
			list-style: none;
			a{
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
}
.imginfo{
	width: 950px;
	margin: 0 auto;
	img{
		width:100%;
	}
}
footer{
	width: 100%;
	margin: 30px auto;
	overflow: hidden;
	border-top: 1px solid #ccc;
	.com-addr{
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		border-bottom: 1px solid #ccc;
		div{
			width: 950px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
}
#footer{
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
	ul{
		display: block;
		height: 40px;
		width:100%;
		font-size: 12px;
		li{
			float: left;
			padding: 10px;
			text-align:center;
			a{
				color:#333;

			}
		}
		li:first-child{
			padding-left:0px;
		}
	}
}